Flask==2.2.5
Flask-Cors==5.0.0
numpy==1.26.4
Pillow==10.2.0
opencv-python-headless==4.10.0.84
torch==2.2.2+cpu
torchvision==0.17.2+cpu
-f https://download.pytorch.org/whl/torch_stable.html
segmentation-models-pytorch==0.3.4
tensorflow-cpu
pandas==2.2.1




